{% extends "catalog/base.html" %}
{% load static %}
{% block title %}Список книг{% endblock %}

{% block content %}
<div class="container">
    <div class="row text-center justify-content-center">
        {% for product in products %}
        <div class="col-lg-3 col-md-5 col-sm-8 mb-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ product.description|truncatechars:100 }}</p>

                    {% if product.image %}
                        <img src="{{ product.image.url }}"
                             alt="{{ product.name }}"
                             class="card-img-top img-fluid mb-3">
                    {% else %}
                        <img src="{% static 'images/default.png' %}"
                             alt="Нет изображения"
                             class="card-img-top img-fluid mb-3">
                    {% endif %}

                    <a href="{% url 'product_detail' product.id %}"
                       class="btn btn-lg btn-block btn-outline-primary mt-auto">
                        Подробнее
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}