<ul class="list-unstyled">
                            <li><a href="{% url 'catalog:home' %}" class="text-white">Главная</a></li>
                            <li><a href="{% url 'catalog:products_list' %}" class="text-white">Каталог</a></li>
                            <li><a href="{% url 'users:login' %}" class="text-white">Войти</a></li>
                            <li><a href="{% url 'users:register' %}" class="text-white">Регистрация</a></li>
                            <li>
                                <form action="{% url 'users:logout' %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-link text-white p-0 border-0">Выйти</button>
                                </form>
                            </li>
                        </ul>